<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="require.js"></script>
    <title><%= moduleName %></title>
</head>

<body onload="start()">
    <div id="root">
    </div>
    <script>
        var isOpen = false;
        window.start = function() {
            require(["<%= moduleName %>"], function(mod){
                function toggle(){
                        mod.close()
                        mod.open();
                    isOpen = !isOpen;
                }
                document.body.addEventListener('dblclick', toggle);
                toggle();
            })
        }
    </script>
</body>

</html>
