{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "useBuiltIns": "usage",
      "corejs": 2,
      "targets": {
        "chrome": "58"
        // ,"ie": "9"
      }
    }]
  ]
}
